################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/penggan00.github.io/FileContentIndex/0f885718-27c6-45f6-b88b-1a2756dcb000.vsidx
/.vs/penggan00.github.io/FileContentIndex/bdf74418-0dc8-47fb-9b89-f1c10ba921ae.vsidx
/.vs/penggan00.github.io/FileContentIndex/da67c9ab-eea4-4a3d-adc9-2e600053ed8f.vsidx
/.vs/penggan00.github.io/FileContentIndex/fa2f0052-6596-4fef-bd0f-b57656a42e0f.vsidx
/.vs/penggan00.github.io/v17/.wsuo
/.vs/slnx.sqlite
/.vs/penggan00.github.io/v17/DocumentLayout.json
/.vs/penggan00.github.io/FileContentIndex/69003957-ba06-44bc-853e-ecfef544a0ea.vsidx
/.vs/VSWorkspaceState.json
/.vs/penggan00.github.io/FileContentIndex/2f8ceed2-55a3-4216-8e23-ffa6121d6b04.vsidx
/.vs/penggan00.github.io/FileContentIndex/0de706b1-c766-41e1-945e-f2af37d399b1.vsidx
*.vsidx
