################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/penggan00.github.io/FileContentIndex/085f8b9d-5f7f-4c4b-9eda-f4f724cedcdb.vsidx
/.vs/penggan00.github.io/FileContentIndex/469006f1-02e6-4efc-80fe-f485a5bb92ec.vsidx
/.vs/penggan00.github.io/FileContentIndex/5017c3db-d088-4f8e-8466-4fc85040a029.vsidx
/.vs/penggan00.github.io/FileContentIndex/d22be199-963e-42fd-a434-be63634decc5.vsidx
/.vs/penggan00.github.io/FileContentIndex/f1e7825a-76c4-45fc-ae4e-e9d57e9a289a.vsidx
/.vs/penggan00.github.io/v17/.wsuo
/.vs/penggan00.github.io/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/penggan00.github.io/config/applicationhost.config
/.vs/penggan00.github.io/FileContentIndex/042eb3bf-ad42-48bc-b236-0ad4f280538d.vsidx
/.gitignore
/.gitignore
