body { /* 设置body元素的样式 */
    font-family: Arial, sans-serif; /* 使用Arial字体，次选sans-serif */
    color: #333; /* 设置文字颜色 */
    word-break: break-all;
    margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
        margin-right: 0px;
        max-width: 900px; /* 设置最大宽度为800px */
        text-decoration: none; /* 去除下划线 */
}

.header { /* 设置header类的样式 */
    text-align: center; /* 设置文字居中 */
    padding: 10px 20px; /* 设置内边距 */
    background-color: #f7f7f7; /* 背景颜色为浅灰色 */
    text-decoration: none; /* 去除下划线 */
    color: #333; /* 设置文字颜色 */
    font-weight: bold;
    text-decoration: none; /* 去除下划线 */
}

a {
    text-decoration: none;
  }

.container { /* 设置container类的样式 */
    text-decoration: none; /* 去除下划线 */
    margin-left: 11px;
    margin-right: 11px;
}
pre {
    background: #eee;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap; /* 折行 */
    word-wrap: break-word; /* 防止长单词破坏布局 */
    overflow: auto; /* 允许滚动条 */
}

.copy-container {
    position: relative;
    display: inline-block;
}
.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

        .content  h1{
            font-size: 1em; /* 设置字体大小 */
        }
 img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;

        }

    .header a { /* 设置header中的a元素样式 */
            color: black; /* 设置字体颜色为黑色 */
            text-decoration: none; /* 去掉下划线 */
            font-size: 1.8em; /* 设置字体大小 */
             text-decoration: none; /* 去除下划线 */

        }
        .subheader { /* 设置subheader类的样式 */
            text-align: center; /* 设置文字居中 */
            margin: -11px 0; /* 设置上下外边距为10px */
            font-size: 0.8; /* 设置字体大小 */
            color: #555; /* 设置文字颜色 */
            text-decoration: none; /* 去除下划线 */
        }
        .date { /* 设置date类的样式 */
            text-align: center; /* 设置文字居中 */
            margin: 0px 0; /* 设置上下外边距为10px */
            color: #777; /* 设置文字颜色 */
            margin-top: -2px;
            font-size: 0.9em; /* 设置字体大小 */

            
}
  footer{ 
              display: flex;
             justify-content: center;
            align-items: center;
    background-color: #f7f7f7; /* 背景颜色为浅灰色 */
}

    .content  h2{
        font-size: 1em; /* 设置字体大小 */
    
    }       

    
    /* 设置 iframe 的宽度和高度为 100%，以适应包装元素的大小 */
   .iframe {
    width: 100%;
    height: 100%;
}

/* 设置包装元素的宽度和高度，并设置宽度为 100%以适应父元素的宽度 */
.video-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 设置宽高比为 16:9，可根据需要更改 */
    overflow: hidden;
}

/* 使 iframe 相对于包装元素定位，以保持宽高比 */
.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 800px) { /* 设置媒体查询，当屏幕宽度小于800px时应用以下样式 */
    .container { /* 设置container类的样式 */
        margin-left: 11px;
        margin-right: 11px; 
        margin: 20px; /* 设置上下外边距为10px */
        text-decoration: none; /* 去除下划线 */
    }
     
    .header a { /* 设置header中的a元素样式 */
        font-size: 1.3em; /* 设置字体大小 */
        text-decoration: none; /* 去除下划线 */
        text-decoration: none; /* 去除下划线 */

    }
    .subheader { /* 设置subheader类的样式 */
        font-size: 0.7em; /* 设置字体大小为1.2em */
        text-decoration: none; /* 去除下划线 */
        
    }

    h2  {  font-size: 1.em; /* 设置字体大小为1.2em */
        text-decoration: none; /* 去除下划线 */

    }
    .date { /* 设置date类的样式 */
        text-align: center; /* 设置文字居中 */
        margin: 0px 0; /* 设置上下外边距为10px */
        color: #777; /* 设置文字颜色 */
        margin-top: 17px;
        font-size: 0.6em; /* 设置字体大小 */
        
}

}  