body { /* 设置body元素的样式 */
    font-family: Arial, sans-serif; /* 使用Arial字体，次选sans-serif */
    color: #333; /* 设置文字颜色 */
    word-break: break-all;
    margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
        margin-right: 0px;
}

.header { /* 设置header类的样式 */
    text-align: center; /* 设置文字居中 */
    padding: 10px 20px; /* 设置内边距 */
    background-color: #f7f7f7; /* 背景颜色为浅灰色 */
    text-decoration: none; /* 去除下划线 */
    color: #333; /* 设置文字颜色 */
    font-weight: bold;

}

.container { /* 设置container类的样式 */
        
        margin-left: 11px;
        margin-right: 11px;
}
   pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: auto;
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            line-height: 1.5;
            
        }

        .content  h1{
            font-size: 1em; /* 设置字体大小 */
        }
 img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    .header a { /* 设置header中的a元素样式 */
            color: black; /* 设置字体颜色为黑色 */
            text-decoration: none; /* 去掉下划线 */
            font-size: 1.8em; /* 设置字体大小 */
            

        }
        .subheader { /* 设置subheader类的样式 */
            text-align: center; /* 设置文字居中 */
            margin: -16px 0; /* 设置上下外边距为10px */
            font-size: 0.8; /* 设置字体大小 */
            color: #555; /* 设置文字颜色 */
        }
        .date { /* 设置date类的样式 */
            text-align: center; /* 设置文字居中 */
            margin: 0px 0; /* 设置上下外边距为10px */
            color: #777; /* 设置文字颜色 */
            margin-top: -2px;
            font-size: 0.9em; /* 设置字体大小 */

            
}
  footer{ 
              display: flex;
             justify-content: center;
            align-items: center;
    background-color: #f7f7f7; /* 背景颜色为浅灰色 */
}

    .content  h2{
        font-size: 1em; /* 设置字体大小 */
    
    }       

@media (max-width: 800px) { /* 设置媒体查询，当屏幕宽度小于800px时应用以下样式 */
    .container { /* 设置container类的样式 */
        margin-left: 11px;
        margin-right: 11px; 
        margin: 20px; /* 设置上下外边距为10px */
    }
     
    .header a { /* 设置header中的a元素样式 */
        font-size: 1.3em; /* 设置字体大小 */
        text-decoration: none; /* 去除下划线 */
        

    }
    .subheader { /* 设置subheader类的样式 */
        font-size: 0.8em; /* 设置字体大小为1.2em */
    }

    h2  {  font-size: 1.em; /* 设置字体大小为1.2em */

    }
    .date { /* 设置date类的样式 */
        text-align: center; /* 设置文字居中 */
        margin: 0px 0; /* 设置上下外边距为10px */
        color: #777; /* 设置文字颜色 */
        margin-top: 17px;
        font-size: 0.7em; /* 设置字体大小 */
}

}  