body { /* 设置body元素的样式 */
    font-family: Arial, sans-serif; /* 使用Arial字体，次选sans-serif */
    margin: 0; /* 去掉默认的外边距 */
    padding: 0; /* 去掉默认的内边距 */
    color: #333; /* 设置文字颜色 */

}
.container { /* 设置container类的样式 */
    max-width: 800px; /* 设置最大宽度为800px */
    margin: 0 auto; /* 设置外边距自动以居中 */
    padding: 20px; /* 设置内边距为20px */
}
.header { /* 设置header类的样式 */
    text-align: center; /* 设置文字居中 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 设置阴影效果 */
    padding: 10px 20px; /* 设置内边距 */
    background-color: #f7f7f7; /* 背景颜色为浅灰色 */
    text-decoration: none; /* 去除下划线 */
    color: #333; /* 设置文字颜色 */
}

   pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: auto;
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            line-height: 1.5;
        }

 img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    .header a { /* 设置header中的a元素样式 */
            color: black; /* 设置字体颜色为黑色 */
            text-decoration: none; /* 去掉下划线 */
            font-size: 2em; /* 设置字体大小 */
            

        }
        .subheader { /* 设置subheader类的样式 */
            text-align: center; /* 设置文字居中 */
            margin: -20px 0; /* 设置上下外边距为10px */
            font-size: 0.8; /* 设置字体大小 */
            color: #555; /* 设置文字颜色 */
        }
        .date { /* 设置date类的样式 */
            text-align: center; /* 设置文字居中 */
            margin: 0px 0; /* 设置上下外边距为10px */
            color: #777; /* 设置文字颜色 */
            margin-top: -15px;
            font-size: 0.9em; /* 设置字体大小 */

}
  footer{ 
              display: flex;
             justify-content: center;
            align-items: center;
    background-color: #f7f7f7; /* 背景颜色为浅灰色 */
}
.content { /* 设置content类的样式 */
    padding: 0px 0; /* 设置上下内边距为20px */
width: 100%; /* 设置宽度 */
  max-width: 800px; /* 设置最大宽度 */
  text-align: justify; /* 文本两端对齐 */
padding: 10px 0px; /* 设置内边距 */
    }

}
@media (max-width: 600px) { /* 设置媒体查询，当屏幕宽度小于800px时应用以下样式 */
    .container { /* 设置container类的样式 */
        padding: 10px; /* 设置内边距为10px */
    }
    .header a { /* 设置header中的a元素样式 */
        font-size: 1.5em; /* 设置字体大小 */

    }
    .subheader { /* 设置subheader类的样式 */
        font-size: 0.8em; /* 设置字体大小为1.2em */
    }
    .date { /* 设置date类的样式 */
        font-size: 0.8em; /* 设置字体大小为0.8em */
    }
}

