div.web
{
	font-size: 20px;
	width: 200px;
	background-color: skyBlue;
	text-align: center;
	padding: 2px;
	margin: 2px;
}
ul
{
	list-style-type: none;
	margin: 0px;
	padding: 5px 0 0 0;
}
 
a:link,a:visited
{
	display: block;
	text-decoration: none;
	text-align: center;
	background-color:lightBlue; 
	color: red;
	width: 80px;
	padding: 2px;
	margin: 2px;
}
a:hover,a:active
{
	background-color: purple;
}
.nav
{
	border:5px solid lightGrey;
	width: 210px;
}
li
{
	margin: 5px;
}